section#designers.designers
  h2.designers__title.section-title Designers
  ul.designers__list
    li.designers__item
      article.designers__card
        picture
          source(media='(max-width: 768px)', srcset='./images/jess-small.jpg')
          img.designers__card-img.designers__card-img-active(
            src='./images/jess-big.jpg',
            alt='Фотография Jess Wonder'
          )
        .designers__card-description.designers__card-description-active
          h4.designers__card-title Jess&nbsp;Wonder
          dl.designers__card-list
            .designers__card-item
              dt.designers__card-term From/
              dd.designers__card-definition Be&nbsp;more flower
            .designers__card-item
              dt.designers__card-term Skills/
              dd.designers__card-definition Design&nbsp;Strategy
              dd.designers__card-skills-definition Marketing
    li.designers__item
      article.designers__card
        picture
          source(
            media='(max-width: 768px)',
            srcset='./images/kameron-small.jpg'
          )
          img.designers__card-img(
            src='./images/kameron-big.jpg',
            alt='Фотография Kameron Clein'
          )
        .designers__card-description
          h4.designers__card-title Kameron&nbsp;Clein
          dl.designers__card-list
            .designers__card-item
              dt.designers__card-term From/
              dd.designers__card-definition Be&nbsp;more flower
            .designers__card-item
              dt.designers__card-term Skills/
              dd.designers__card-definition Design&nbsp;Strategy
              dd.designers__card-skills-definition Marketing
    li.designers__item
      article.designers__card
        picture
          source(
            media='(max-width: 768px)',
            srcset='./images/louisse-small.jpg'
          )
          img.designers__card-img.designers__card-img_active(
            src='./images/louisse-big.jpg',
            alt='Фотография Louisse Red'
          )
        .designers__card-description.designers__card-description_active
          h4.designers__card-title Louisse&nbsp;Red
          dl.designers__card-list
            .designers__card-item
              dt.designers__card-term From/
              dd.designers__card-definition Be&nbsp;more flower
            .designers__card-item
              dt.designers__card-term Skills/
              dd.designers__card-definition Design&nbsp;Strategy
              dd.designers__card-skills-definition Marketing
    li.designers__item
      article.designers__card
        picture
          source(
            media='(max-width: 768px)',
            srcset='./images/kameron-small.jpg'
          )
          img.designers__card-img(
            src='./images/kameron-big.jpg',
            alt='Фотография Kameron Clein'
          )
        .designers__card-description.designers__card-description_active
          h4.designers__card-title Kameron&nbsp;Clein
          dl.designers__card-list
            .designers__card-item
              dt.designers__card-term From/
              dd.designers__card-definition Be&nbsp;more flower
            .designers__card-item
              dt.designers__card-term Skills/
              dd.designers__card-definition Design&nbsp;Strategy
              dd.designers__card-skills-definition Marketing
