section#strong-points.strong-points
  h2.strong-points__title.section-title Strong&nbsp;points
  ul.strong-points__list
    li.strong-points__item
      img.strong-points__image(
        src='./images/strong-points-1.jpg',
        alt='Рабочее место'
      )
    li.strong-points__item
      img.strong-points__image(
        src='./images/strong-points-2.jpg',
        alt='Зона отдыха'
      )
    li.strong-points__item.strong-points__item-info
      h2.strong-points__subtitle.page-title Strengths
      ul.strong-points__sublist
        li.strong-points__subitem Interiors
        li.strong-points__subitem Outdoors
        li.strong-points__subitem Portraits
        li.strong-points__subitem Styling
        li.strong-points__subitem Events
        li.strong-points__subitem Architecture
        li.strong-points__subitem Design
        li.strong-points__subitem Celebrations
        li.strong-points__subitem Fashion
        li.strong-points__subitem Nature
    li.strong-points__item
      img.strong-points__image.strong-points__image-bs(
        src='./images/cafe-small.jpg',
        alt='Кафе'
      )
